<!doctype html>
<html>
<head>
<title>Air Ticket Reservation System</title>
<link href="css/angular-bootstrap.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

body {
	background-color: black;
	background: url(img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
</head>

<body ng-app="flight">
	<section ui-view></section>
	<div class="container" ng-cloak class="ng-cloak">
		<h1 ng-controller="initialization" class="bg-primary">{{title}}</h1>
		<hr />
		<!-- Single button -->
		<div style="display: inline-block;" ng-controller="dropDownControl">
			<p>{{departure}}</p>
			<div class="btn-group" uib-dropdown is-open="status.isopen"
				ng-init="init()">
				<button id="single-button" type="button" class="btn btn-primary"
					uib-dropdown-toggle ng-disabled="disabled">
					{{airport.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu"
					aria-labelledby="single-button">
					<li ng-repeat="airport in airports"><a href="#"
						ng-click="selectFrom($event, airport)">{{airport.name}}</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-sm btn-default"
				ng-click="toggleShow=!toggleShow">{{dt|date:yyyy/MM/dd}}</button>
			<uib-datepicker ng-model="dt" datetime="yyyy-MM-dd HH:mm:ss"
				class="well well-sm" ng-show="toggleShow"
				datepicker-options="options" ng-change="selectFromDate(dt)"></uib-datepicker>
		</div>
		<div style="display: inline-block;" ng-controller="dropDownControl">
			<p>{{back}}</p>
			<div class="btn-group" uib-dropdown is-open="status.isopen"
				ng-init="init()">
				<button id="single-button" type="button" class="btn btn-primary"
					uib-dropdown-toggle ng-disabled="disabled">
					{{airport.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu"
					aria-labelledby="single-button">
					<li ng-repeat="airport in airports"><a href="#"
						ng-click="selectTo($event, airport)">{{airport.name}}</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-sm btn-default"
				ng-click="toggleShow=!toggleShow">{{dt|date:yyyy/MM/dd}}</button>
			<uib-datepicker ng-model="dt" class="well well-sm"
				ng-show="toggleShow" datepicker-options="options"
				ng-change="selectToDate(dt)"></uib-datepicker>
		</div>
	</div>
	<hr />
	<div class="container" ng-cloak class="ng-cloak"
		ng-controller="listOfFlights">
		<uib-alert dismiss-on-timeout="2000" close="close()"
			ng-show="alert!=undefined">{{alert}}</uib-alert>
		<form ng-submit="search(airport)" name="vm.form" novalidate>
			<formly-form model="vm.model" fields="vm.fields" options="vm.options"
				form="vm.form">
			<button type="submit" class="btn btn-primary submit-button"
				ng-disabled="vm.form.$invalid">Search</button>
			<button type="button" class="btn btn-default"
				ng-click="vm.options.resetModel()">Reset</button>
			<button type="button" class="btn btn-success" ng-click="book()"
				ng-show="isOneWaySelected&&isRoundTripSelected">Proceed to
				payment</button>
			</formly-form>
		</form>
		<hr />
		<p>Cheaper tickets from {{flightService.getFrom()}} to
			{{flightService.getTo()}} on day {{flightService.getFromDate()}}</p>
		<div ui-grid="oneway" ui-grid-selection ui-grid-auto-resize
			class="myGrid" ng-style="onewayHeight()"></div>
		<p>Cheaper tickets from {{flightService.getTo()}} to
			{{flightService.getFrom()}} on day {{flightService.getToDate()}}</p>
		<div ui-grid="roundtrip" ui-grid-selection ui-grid-auto-resize
			class="myGrid" ng-style="roundtripHeight()"></div>
	</div>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/flight.js"></script>
</body>
</html>